<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <title>Contact -- TRANSICLES</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Start of header -->
<img src="images/transicles-logo.png" id="transicles-logo" alt="TRANSICLES Logo">
<br/>
<ul class="nav">
  <li class="nav-items"><a href="/art/" class="nav-links">Top</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Tech</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Science</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Featured</a></li>
  <li class="nav-items"><a href="/art/newsletter/" class="nav-links">Newsletter</a></li>
  <li class="nav-items"><a href="/art/search/" class="nav-links">Search</a></li>
</ul>
<br/>
<!-- End of header -->




<!-- Start of Contact -->
<div class="content">
  <!-- Content headline -->
<div class="content-headline-area">
  <h2 class="content-headline">Contact</h2>
</div>
<!-- Contact area -->
<div class="contact-area">
  <h4 class="content-headline">Hi there! <br><br>Here you can send us a message, suggest a topic you wanna read about, or simply say hello. <br><br>If you prefer, you can also contact us on our <a href="#">facebook page</a>.</h4>
  <form class="contact-form">
    <input type="text" name="name" value="" class="contact-text-input" placeholder="Your name"><br><br>
    <input type="email" name="email" value="" class="contact-text-input" placeholder="Your email address"><br><br>
    <input type="text" name="message" value="" class="contact-text-input" placeholder="Type your message here..."><br><br>
    <input type="submit" name="submit" value="Send" class="contact-submit-input">
  </form>
</div>
</div>
<br>
<!-- End of Contact -->




<!-- Start of footer -->
<div class="footer">
  <ul>
    <li class="footer-items"><a href="/art/about/" class="footer-links">About us</a></li>
    <li class="footer-items"><a href="/art/privacy/" class="footer-links">Privacy policy</a></li>
    <li class="footer-items"><a href="/art/terms/" class="footer-links">Terms of use</a></li>
    <li class="footer-items"><a href="/art/newsletter/" class="footer-links">Subscribe for newsletter</a></li>
    <li class="footer-items"><a href="/art/contact/" class="footer-links">Contact us</a></li>
    <li class="footer-items">Like us on : <div class="social-links"><a href="#"><img src="images/facebook.png" id="facebook-icon"></a></div></li>
  </ul>
    <h3 id="footer-copyrights">&copy; 2017 TRANSICLES. All rights reserved.</h3>
</div>
<!-- End of footer -->



  </body>
</html>
