<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="art/static/art/images/favicon.png">
  <title>TRANSICLES</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css"  href="{% static 'art/main.css' %}"/>
</head>
<body>
<!-- Start of header -->
<img src="images/transicles-logo.png" id="transicles-logo" alt="TRANSICLES Logo">
<br/>
<ul class="nav">
  <li class="nav-items"><a href='/art/' class="nav-links">Top</a></li>
  <li class="nav-items"><a href='/art/' class="nav-links">Tech</a></li>
  <li class="nav-items"><a href='/art/' class="nav-links">Science</a></li>
  <li class="nav-items"><a href='/art/' class="nav-links">Featured</a></li>
  <li class="nav-items"><a href='/art/newsletter/' class="nav-links">Newsletter</a></li>
  <li class="nav-items"><a href='/art/search/' class="nav-links">Search</a></li>
</ul>
<br/>
<!-- End of header -->




<!-- Start of articles -->
<!-- Use mysql database or use online storage for images to show in "articles-images" -->
<div class="content">
<!-- for loop to load recent 10 to 12 articles -->
<div class="articles">
  <h1 class="articles-headline"><a href="http://i-programmer.info/news/105-artificial-intelligence/11032-openai-bot-triumphant-playing-dota-2.html" class="articles-link">OpenAI Bot Triumphant Playing Dota 2</a></h1>
</div>
<!-- endfor loop -->
<div class="articles">
  <h1 class="articles-headline"><a href="http://i-programmer.info/news/105-artificial-intelligence/10961-mozilla-wants-your-voice.html" class="articles-link">Mozilla wants your voice</a></h1>
</div>
<div class="articles">
  <h1 class="articles-headline"><a href="http://i-programmer.info/news/105-artificial-intelligence/10833-front-end-developers-your-day-is-done-ai-can-do-your-job.html" class="articles-link">Front End Developers your day is done AI can do your job</a></h1>
</div>
<div class="articles">
  <h1 class="articles-headline"><a href="http://i-programmer.info/news/105-artificial-intelligence/10484-how-libratus-.html" class="articles-link">AI Beats Top Poker Players</a></h1>
</div>
<div class="articles">
  <h1 class="articles-headline"><a href="https://thenextweb.com/google/2017/09/05/google-drive-new-pirate-bay/" class="articles-link">Google Drive has become popular alternative to Pirate Bay</a></h1>
 </div>
<div class="articles">
  <h1 class="articles-headline"><a href="https://thenextweb.com/artificial-intelligence/2017-09-04/elon-musk-says-ai-most-likely-cause-of-world-war-iii/" class="articles-link">Elon Musk Says AI is the most likely cause of World War III</a></h1>
  </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/facebook/2017/08/10/facebook-takes-youtube-watch-new-episodic-video-service/" class="articles-link">Facebook Takes on Youtube with Watch, It's new episodic video service</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/science/2017/08/24/educated-women-are-the-key-to-reversing-climate-change/" class="articles-link">Educated Women are the key to reversing Climate Change</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/artificial-intelligence/2017/08/30/report-heres-how-long-it-takes-new-tech-to-become-mainstream/" class="articles-link">Here's how long it takes new tech to become mainstream</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/artificial-intelligence/2017/09/04/robot-wokers-could-lead-to-universal-basic-income-in-hawaii/" class="articles-link">Robot Workers could lead to universal basic income in Hawaii </a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/microsoft/2017/09/01/microsoft-joins-long-list-of-tech-companies-trying-to-defenddaca/" class="articles-link">Microsoft Joins long list of companies trying to defend DACA</a></h1>
 </div>
<div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/apple/2017/08/31/heres-how-apple-will-replace-the-home-button-on-the-iphone-8/" class="articles-link">Here's how apple will replace the Home Button on iPhone 8</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/contributors/2017/09/02/not-us-tech-must-learn-talk-humans/" class="articles-link">It's not us it's them: Tech must learn to talk to humans</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/contributors/2017/09/03/accepting-bitcoin-great-marketing-play/" class="articles-link">Why accepting bitcoin is a great marketing play</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/tech/2017/09/04/riaa-shuts-down-popular-youtube-to-mp3-conversion-site/" class="articles-link">RIAA shuts down popular youtube to mp3 conversion site</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/facebook/2017/09/04/facebook-code-16-average-site/" class="articles-link">Facebook Code makes for 16% of the average site... and that's a problem</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/shareables/2017/09/04/gta-calculator-game/" class="articles-link">Move over consoles, playing GTA over a calculator is way cooler</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="https://thenextweb.com/insider/2017/09/04/kfc-lets-you-pay-for-meals-with-your-smile-in-china/" class="articles-link">KFC lets you pay for meals with your smile in China</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://www.firstpost.com/tech/news-analysis/youtube-will-let-iphone-users-live-stream-their-screen-to-the-app-tools-to-ease-chat-moderation-also-added-4013593.html" class="articles-link">Youtube will let iPhone users live stream their screen to the app, tools to ease chat moderation also added</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://firstpost.com/tech/news-analysis/samsung-galaxy-note-8-is-not-for-everyone-aims-at-fans-who-love-the-stylus-4013675.html" class="articles-link">Samsung Galaxy Note 8 is not for everyone: aims at fans who love the stylus</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://firspost.com/tech/news-analysis/decision-to-end-daca-is-wrong-and-cruel-for-young-people-says-facebook-ceo-mark-zuckerberg-4013419.html" class="articles-link">Decision to end DACA is wrong and curle for young people says Facebook CEO Mark Zuckerberg</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://firstpost.com/tech/news-analysis/artificial-intelligence-based-voice-assitants-to-ease-the-use-of-fingers-on-smartphones-4013881.html" class="articles-link">Artificial Intelligence based voice assistants will transform the way we interact with our devices</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://i-programmer.info/news/86-browsers/10993-firefox-55-is-great-yet-its-marketshare-is-in-freefall.html" class="articles-link">Firefox 55 is great yet its marketshare is in freefall</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://i-programmer.info/news/86-browsers/10817-chrome-declared-winner.html" class="articles-link">Chrome Declared Winner</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://i-programmer.info/news/86-browsers/9322-microsoft-stops-supporting-ie-89-and-10.html" class="articles-link">Microsoft stops supporting IE 8,9 and 10</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://i-programmer.info/news/86-browsers/8132-microsoft-planning-a-new-browser.html" class="articles-link">Microsoft Planning a New Browser</a></h1>
 </div>
 <div class="articles">
 <h1 class="articles-headline"><a href="http://i-programmer.info/news/86-browsers/7940-mozilla-to-release-browser-for-programmers.html" class="articles-link">Mozilla to release browser for programmers</a></h1>
 </div>
 
</div>
<br>
<div class="wrapper">
  <button class="load-more">Load more</button>
</div>
<br>
<!-- End of articles -->





<!-- Start of footer -->
<div class="footer">
  <ul>
    <li class="footer-items"><a href="/art/about/" class="footer-links">About us</a></li>
    <li class="footer-items"><a href="/art/privacy/" class="footer-links">Privacy policy</a></li>
    <li class="footer-items"><a href="/art/terms/" class="footer-links">Terms of use</a></li>
    <li class="footer-items"><a href="/art/newsletter/" class="footer-links">Subscribe for newsletter</a></li>
    <li class="footer-items"><a href="/art/contact/" class="footer-links">Contact us</a></li>
    <li class="footer-items">Like us on : <div class="social-links"><a href="#"><img src="images/facebook.png" id="facebook-icon"></a></div></li>
  </ul>
    <h3 id="footer-copyrights">&copy; 2017 TRANSICLES. All rights reserved.</h3>
</div>
<!-- End of footer -->


  </body>
</html>
