<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <title>Terms of use -- TRANSICLES</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Start of header -->
<img src="images/transicles-logo.png" id="transicles-logo" alt="TRANSICLES Logo">
<br/>
<ul class="nav">
  <li class="nav-items"><a href="/art/" class="nav-links">Top</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Tech</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Science</a></li>
  <li class="nav-items"><a href="/art/" class="nav-links">Featured</a></li>
  <li class="nav-items"><a href="/art/newsletter/" class="nav-links">Newsletter</a></li>
  <li class="nav-items"><a href="/art/search/" class="nav-links">Search</a></li>
</ul>
<br/>
<!-- End of header -->

<!-- Start of Terms of use -->
<div class="content">
<div class="content-headline-area">
  <h2 class="content-headline">Terms of use</h2>
</div>
<div class="terms">
<p id="terms-of-use">
TRANSICLES<br>
Terms of Use ("Terms")<br><br>

Last updated: August 24, 2017<br><br>

Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the http://www.transicles.com website (the "Service") operated by TRANSICLES ("us", "we", or "our").<br><br>

Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br><br>

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms of Use is licensed by TermsFeed Generator to TRANSICLES.<br><br>

Links To Other Web Sites<br><br>

Our Service may contain links to third-party web sites or services that are not owned or controlled by TRANSICLES.<br><br>

TRANSICLES has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that TRANSICLES shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.<br><br>

We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.<br><br>

Termination<br><br>

We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.<br><br>

All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br><br>

Governing Law<br><br>

These Terms shall be governed and construed in accordance with the laws of Pakistan, without regard to its conflict of law provisions.<br><br>

Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.<br><br>

Changes<br><br>

We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.<br><br>

By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.<br><br>

Contact Us<br><br>

If you have any questions about these Terms, please contact us.<br><br>

Terms of Use of http://www.transicles.com<br><br>
</p>
</div>
</div>
<br>
<!-- End of Terms of use -->



<!-- Start of footer -->
<div class="footer">
  <ul>
    <li class="footer-items"><a href="/art/about/" class="footer-links">About us</a></li>
    <li class="footer-items"><a href="/art/privacy/" class="footer-links">Privacy policy</a></li>
    <li class="footer-items"><a href="/art/terms/" class="footer-links">Terms of use</a></li>
    <li class="footer-items"><a href="/art/newsletter/" class="footer-links">Subscribe for newsletter</a></li>
    <li class="footer-items"><a href="/art/contact/" class="footer-links">Contact us</a></li>
    <li class="footer-items">Like us on : <div class="social-links"><a href="#"><img src="images/facebook.png" id="facebook-icon"></a></div></li>
  </ul>
    <h3 id="footer-copyrights">&copy; 2017 TRANSICLES. All rights reserved.</h3>
</div>
<!-- End of footer -->


  </body>
</html>
